html {
    position: relative;
    min-height: 100%;
}

body {

    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin-bottom: 70px;
    background-color: #f7f7f7;
     /* Space untuk #footer */
}
.container {
  max-width: 970px;
  margin-top: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    height: 50px; /* Tinggi footer */
    text-align: center;
    padding-top: 20px;
}

/*Posisi tombol Detail Edit Delete*/
.box-button {
    display: inline-block;
}

.navbar {
	height: 60px;
  background-color: #fff;
}

.navbar-nav{
  padding-left: 30px;
  padding-right: 15px;
}

.navbar-brand {
	padding: 12px 20px;
}

.navbar-brand>img {
	width: 35px;
	height: 35px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: 5px solid #ca171c;
	background-color :transparent;
  font-weight: bold;
  color: #ca161c;
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom :15px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* Jumlah produk, pagination dan tombol tambah produk */
.table-nav, .tombol-nav {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.tombol-nav {
    margin-top: 10px;
}

.jumlah-data, .paging {
    width: 50%;
    height: 50px;
    display: block;
}

.jumlah-data {
    float: left;
    padding-top: 15px;
}

.paging {
    float: right;
    text-align: right;
}

.paging ul.pager, .paging ul.pagination {
    text-align: right;
}

ul.pagination, ul.pager {
    margin-top: 8px;
}

/* Form Pencarian */
#pencarian {
    padding-bottom: 0px;
}

.form-control{
  border-radius: 2px;
}

.panel-default {
  padding: 0px;
  border-radius: 2px;
}

.img-rounded {
  border-radius: 0px;
}

.btn-block {
  padding: 10px;
}

.btn-success {
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}

.btn {
  border-radius: 2px;
}

#tabel-user {
  border : 1px solid #ddd;
  background-color: #fff;
  padding-top: 50px;
}
